<h1>Edit an Item</h1>

<% if @item.errors.any? %>
<p>
    <%@item.errors.each do |attribute, message| %>
	<%= attribute %> : <%= message %>.
	<br />
	<% end %>
</p>
<% end %>

<%= form_tag "/item/#{@item.id}", :method => "patch" do %>

  <div>
    <label>Name:</label>
    <input type="text" name="name" value="<%= @item.name %>" size="30">
  </div>

  <div>
    <label>Barcode:</label>
    <input type="text" name="barcode" value="<%= @item.barcode %>" size="30">
  </div>
  
  <div>
    <label>Status:</label>
    <select name="status">
	<% Item.statuses.each do |s| %>
		<% if @item.status == s.first %>
			<option selected value="<%= s.first %>"><%= s.first %></option>
		<% else %>
			<option value="<%= s.first %>"><%= s.first %></option>
		<% end %>
    <% end %>
	</select>
  </div>
  
  
  <div>
	<label>Category:</label>
      <select name="category_id">
    <% Category.all.each do |c| %>
		<% if @item.category.id == c.id %>
			<option selected value="<%= c.id %>"> <%= c.name %></option>
		<% else %>
			<option value="<%= c.id %>"> <%= c.name %></option>
		<% end %>
    <% end %>
  </select>
  </div>
  
  <div>
	<label>Type:</label>
      <select name="type_id">
    <% Type.all.each do |t| %>
		<% if @item.type.id == t.id %>
			<option selected value="<%= t.id %>"> <%= t.name %></option>
		<% else %>
			<option value="<%= t.id %>"> <%= t.name %></option>
		<% end %>
    <% end %>
  </select>
  </div>
  
  <div>
    <label>Condition:</label>
    <select name="condition">
	<% Item.conditions.each do |c| %>
		<% if @item.condition == c.first %>
			<option selected value="<%= c.first %>"><%= c.first %></option>
		<% else %>
			<option value="<%= c.first %>"><%= c.first %></option>
		<% end %>
    <% end %>
	</select>
  </div>
  
    <div>
	<label>Accessories:</label>
    
	<!-- a bad habit, but I can't think of how else to do this cute thing I'm trying to do -->
	<% @accessories = Accessory.all %>
	<ul>
	<% @accessories.each do |a| %>
	<% if Kit.where(:item_id => @item.id, :accessory_id => a.id).exists? %>
		<li><%= check_box_tag "accessory_ids[]", a.id, :checked => true %>   	<%= label_tag a.name %></li>
	<% else %>
		<li><%= check_box_tag "accessory_ids[]", a.id, nil %>   <%= label_tag a.name %></li>
	<% end %>
    <% end %>
	</ul>
  </select>
  </div>

  <input type="submit" value="Update">

<% end %>
