<h1>Oh god, this isn't finished yet!</h1>

<div><p>This is a work in progress: all item functionality is implemented and fully RESTful. Adding, editing, deleting, and such. I have additionally implemented adding notes TO items.</p>

<p>TODO: user login/logout, passwording, and admin stuff. We'll need to go over user management stuff for that, though.</p>
</div>

<div><p>Welcome to the item management system. <a href="/item/new">Click here to add a new item.</a></p></div>

<div><p>Please click on an item's name to show details and notes about the item!</p></div>

<%= paginate @items %>

<table class="table table-striped">
  <thead>
   <tr>
    <td>Name</td>
    <td>Barcode</td>
	<td>Category</td>
	<td>Type</td>
    <td>Status</td>
	<td>Condition</td>
	<td>Times borrowed</td>
	<td>Current borrower</td>
	<% if session[:admin] %>
	<td>Edit item?</td>
	<td>Delete item?</td>
	<% end %>
    </tr>
   </thead>
   <tbody>
  <% for item in @items %>
    <tr>
      <td><%= link_to item.name, "/item/#{item.id}" %></td>
      <td><%= item.barcode %></td>
	  <td><%= item.category.name %></td>
	  <td><%= item.type.name %></td>
	  <td><%= item.status %></td>
      <td><%= item.condition %></td>
	  <td><%= item.borrow_count %></td>
	  <td>
	  <% if item.borrower_id.nil? %>
	  none
	  <% else %>
	  <%= item.user.fullname %></td>
	  <% end %>
	  <% if session[:admin] %>
	  <td><%= link_to "x", "/item/#{item.id}/edit" %></td>
	  <td><%= link_to "x", "/item/#{item.id}", :method => "delete", data: {confirm: 'Are you sure?'} %></td>
	  <% end %>
    </tr>
  <% end %>
  </tbody>
</table>