<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Item</h2>

<% if @item.errors.any? %>
<p>
    <%@item.errors.each do |attribute, message| %>
	<%= attribute %> : <%= message %>.
	<br />
	<% end %>
</p>
<% end %>

<%= form_tag "/item", :class => 'form-horizontal' do %>
  
  <div class="form-group">
    <%= label_tag :name, 'Name', class: 'col-sm-2 control-label' %>
		<div class="col-sm-5">
			<%= text_field_tag :name, nil, class: 'form-control' %>
		</div>
	</div>
	
  <div class="form-group">
    <%= label_tag :barcode, 'Barcode', class: 'col-sm-2 control-label' %>
		<div class="col-sm-5">
			<%= text_field_tag :barcode, nil, class: 'form-control' %>
		</div>
  </div>

  <div class="form-group">
      <%= label_tag :category, 'Category', class: 'col-sm-2 control-label' %>
	  <div class="col-sm-5">
		<select class="form-control" name="category_id">
			<% Category.all.each do |c| %>
				<option value="<%= c.id %>"><%= c.name %></option>
			<% end %>
		</select>
		</div>
  </div>
  
  <div class="form-group">
	<%= label_tag :type, 'Type', class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
		<select class="form-control" name="type_id">
		<% Type.all.each do |t| %>
			<option value="<%= t.id %>"><%= t.name %></option>
		<% end %>
		</select>
	</div>
  </div>
  
  <div class="form-group">
	<label class='col-sm-2 control-label'>Accessories:</label>
		<div class="col-sm-5">
		<% @accessories = Accessory.all %>
		<% @accessories.each do |a| %>
			<%= label_tag a.name %>
			<%= check_box_tag "accessory_ids[]", a.id, nil %>
		<% end %>
		</div>
  </div>
  
  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= submit_tag "Create item", class: 'btn btn-default' %>
		</div>
	</div>

<% end %>

<h2>Create a new accessory</h2>

<% if @accessory.errors.any? %>
<p>
    <%@accessory.errors.each do |attribute, message| %>
	<%= attribute %> : <%= message %>.
	<br />
	<% end %>
</p>
<% end %>

<%= form_tag "/accessory", :class => 'form-horizontal' do %>

  <div class="form-group">
    <%= label_tag :name, 'Name', class: 'col-sm-2 control-label' %>
	<div class="col-sm-5">
		<%= text_field_tag :name, nil, class: 'form-control' %>
	</div>
  </div>
  
  <div class="form-group">
  		<div class="col-sm-offset-2 col-sm-10">
			<%= submit_tag "Create accessory", class: 'btn btn-default' %>
		</div>
	</div>
<% end%>