<div>
  <h2><%= @item.name %></h2>

  <div>
    <p>Barcode: <%= @item.barcode %>.</p>
  </div>

  <div>
    <p>Status: <%= @item.status %>.</p>
  </div>
  
  <div>
    <p>Condition: <%= @item.condition %>.</p>
  </div>
  
  <div>
	<p>Type: <%= @item.type.name %>.</p>
  </div>
  
  <div>
	<p>Borrow count: <%= @item.borrow_count %>.</p>
  </div>
  
  <div>
	<p>Category: <%= @item.category.name %>.</p>
  </div>
  
  <div>
    <p>Current borrower and due time: 
	<% if @item.borrower_id.nil? %>
	  none.
	  <% else %>
	  <%= @item.user.fullname %> due on <%= @item.due_time.to_formatted_s(:long_ordinal) %>.</td>
	  <% end %>
	  </p>
  </div>
  
  <!-- there must be a better way to do the borrower find. Need to fix for next version... -->
  
  <div>
    <p>Item created on: <%= @item.created_on.to_formatted_s(:long_ordinal) %> by 
	  <%= User.find_by(id: @item.creator_id).fullname %>.</p>
  </div>
  
  <div>
  <h3>Add a note to this item</h3>
  
  <% if params["fail"] == "1" %>
	<div class="notice"><p>Please add text to your note!</p></div>
  <% end %>
  
  
  <%= form_tag "/note" do %>
  
  <div>
    <label>Note text:</label>
	<br />
    <textarea name="text" rows="4" cols="50">Add your note text here.</textarea>
  </div>
  
  <%= hidden_field_tag("item_id", @item.id) %>
  
  <input type="submit" value="Add note">
  
  <% end %>
  
  <h3>Item notes</h3>

  <table class="table table-striped">
  <thead>
    <td>Note author</td>
	<td>Date</td>
    <td>Note text</td>
	<% if session[:admin] %>
	<td><%= "Delete note?" %></td>
	<% end %>
  </thead>
  
  <% @notes = @item.notes %>
  <% @notes = @notes.page(params[:page]).per(4) %> 
  
  <%= paginate @notes %>
  <tbody>
	<% @notes.each do |n| %>
	<tr>
	<td><%= n.user.fullname %></td>
	<td><%= n.created_on.to_formatted_s(:long_ordinal) %></td>
	<td><%= n.text %></td>
	<% if session[:admin] %>
	<td><%= link_to "x", "/note/#{n.id}", :method => "delete", data: {confirm: 'Are you sure?'} %></td>
	<% end %>
	</tr>
	<% end %>
	</tbody>
  </table>
	
</div>