<div>
  <h2><%= @item.name %>  <%= link_to "Edit this item", edit_item_path(@item.id), class: 'btn btn-md btn-primary left' %></h2>
  <div></div>
  
  <div>
    <%= label_tag :barcode %>: 
	<%= @item.barcode %>.
  </div>

  <div>
    <%= label_tag :status %>: 
	<%= @item.status %>.
  </div>
  
  <div>
    <%= label_tag :condition %>: 
    <%= @item.condition %>.
  </div>
  
  <div>
    <%= label_tag :type_name %>: 
	<%= @item.type.name %>.
  </div>
  
  <div>
	<%= label_tag :borrow_count %>: 
	<%= @item.borrow_count %>.
  </div>
  
  <div>
	<%= label_tag :category %>: 
	<%= @item.category.name %>.
  </div>
  
  <div>
	<label>Accessories for this item</label>:
	<% @kits = Kit.where(:item_id => @item.id).all %>
	<% if @kits.empty? %>
	This item has no accessories.
	<% else %>
	<ul>
	<% @kits.each do |k| %>
	<li><%= Accessory.find_by_id(k.accessory_id).name.downcase %></li> 
	<% end %>
	</ul>
	<% end %>
  </div>
  
  <div>
    <label>Current borrower and due time</label>: 
	<% if @item.borrower_id.nil? %>
	  none.
	  <% else %>
	  <%= @item.user.fullname %> due on <%= @item.due_time.to_formatted_s(:long_ordinal) %>.</td>
	  <% end %>
  </div>
  
  <div>
    <label>Item created on</label>: <%= @item.created_on.to_formatted_s(:long_ordinal) %> by 
	  <%= User.find_by_id(@item.creator_id).fullname %>.</p>
  </div>
  
  <% if session[:admin] %>
  <h3>Add a note to this item</h3>
  
  <% if params["fail"] == "1" %>
	<div class="notice"><p>Please add text to your note!</p></div>
  <% end %>
  
  
  <%= form_tag "/note" do %>
  
  <div>
    <label>Note text:</label>
	<br />
    <textarea name="text" rows="4" cols="50">Add your note text here.</textarea>
  </div>
  
  <%= hidden_field_tag("item_id", @item.id) %>
  
  <input type="submit" value="Add note">
  
  <% end %>
  <% end %>
  
  <h3>Item notes</h3>

  <% @notes = @item.notes %>
  <% if @notes.empty? %>
  <div>There are no notes for this item.</div>
  <% else %>
  
  <% @notes = @notes.page(params[:page]).per(4) %> 
  
  <table class="table table-striped">
  <thead>
    <td>Note author</td>
	<td>Date</td>
    <td>Note text</td>
	<% if session[:admin] %>
	<td><%= "Delete note?" %></td>
	<% end %>
  </thead>
  
  <%= paginate @notes %>
  <tbody>
	<% @notes.each do |n| %>
	<tr>
	<td><%= n.user.fullname %></td>
	<td><%= n.created_on.to_formatted_s(:long_ordinal) %></td>
	<td><%= n.text %></td>
	<% if session[:admin] %>
	<td><%= link_to "x", "/note/#{n.id}", :method => "delete", data: {confirm: 'Are you sure?'} %></td>
	<% end %>
	</tr>
	<% end %>
	</tbody>
  </table>
 <% end %>